@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <html>
    <head>
        <style>
        .contain img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            width: 500px; /* Set the width of the div */
            max-width: 100%; /* Set the maximum width of the image to 100% of the container */ 
            margin-top:10px;
        }

        .contain {
           /*  max-height: fit-content; */
            max-width: 100%;
            padding-left:10px;
        }

        #row-1 {
            overflow-y: scroll;
            height: fit-content;
            max-height: 63vh;
            
        }
        img{
            border-radius:20px;
        }
        </style>
    </head>
    <body>
       
        <div class="row" style="padding-left:10px; height:30px;">
        <div class="col-md-7">
            <nav class="navbar navbar-expand-lg navbar-light bg-light bg-info" style="padding-left:15px; height:30px; border-radius:15px;">
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Book/Onebook/1">SIP </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Book/Onebook/2">FEATURE & OPTIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Book/Onebook/3"> INTRADAY </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-5">
            <h6>
                <i class="fa-solid fa-user" style="margin-top:5px;"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-heart"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-pen-nib"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-bell"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-plane"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-paper-plane"></i> 
            </h6>
        </div>
        </div>
       <hr />
        <section class="contain">
        <div class="row" id="row-1" style="width:100.8%; height:530px;">
           
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png"  /></a>
                </div>
                <div class="col-md-4">
                <a href="#"> <img src="~/images/images3.jpg" /></a>
                @* <img src="~/images/images3.jpg" /> *@
                </div>
                <div class="col-md-4">
                <a href="#"> <img src="~/images/images2.jpg" /></a>
               @*  <img src="~/images/images2.jpg" /> *@
                </div>
           
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png" /></a>
                @* <img src="~/images/images3.jpg" /> *@
                </div>
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png" /></a>
                @* <img src="~/images/images1.jpg" /> *@
                </div>
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png" /></a>
                   @*  <img src="~/images/1-trading-what-is-it.png" /> *@
                </div>
                
                
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png" /></a>
                   @*  <img src="~/images/1-trading-what-is-it.png" /> *@
                </div>
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png" /></a>
                    @* <img src="~/images/1-trading-what-is-it.png" /> *@
                </div>
                <div class="col-md-4">
                <a href="#"> <img src="~/images/1-trading-what-is-it.png" /></a>
                   @*  <img src="~/images/1-trading-what-is-it.png" /> *@
                </div>

                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>

                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>

                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
                <div class="col-md-4">
                    <img src="~/images/1-trading-what-is-it.png" />
                </div>
               
        </div>
      </section>
    </body>
</html> 




