
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* <html>
    <head>
        <style>
       
        </style>
    </head>
    <body>
    <section class="content">
        <div class="container  pr-5 pl-5 pt-3 pb-3">
            <div class="card card-primary border-info p-1  shadow shadow-lg">
                <div class="card-header bg-info text-white">
                    <h6 class="col-md-11 mt-2" style="text-align:center; float:left;  ">Hello User </h6>
                    <button class="btn btn-sm btn-outline-danger " type="button" value="Exit" style="margin-left:20px;">X</button> 
                </div>
                <div class="card-body bg-secondary">
                    <div class="form-row">
                        <div class="col-md-12" style="text-align:center;">
                            <div class="form-group row mb-0">
                                <label for="EmailID" class="col-4 pr-0 col-form-label">Email-ID <span class="text-danger">*</span></label>
                                <div class="col-5" style="margin-left: -3%;">
                                    <div class="input-group input-group-sm">
                                        <input type="email" class="form-control required form-control-sm" id="EmployeeEmailID" name="EmployeeEmailID" placeholder="Enter Your Email" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row mb-0">
                                <label for="Password" class="col-4 pr-0 col-form-label">Password </label>
                                <div class="col-5" style="margin-left: -3%;">
                                    <div class="input-group input-group-sm">
                                        <input type="email" class="form-control required form-control-sm" id="EmployeeEmailID" name="EmployeeEmailID" placeholder="Enter Your Password" />
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class=" form-group row mb-0">
                                <div class="col-4 "></div>
                                <div class="col-8 " style="margin-left:-3%;">
                                    <div class="input-group input-group-sm">
                                        <button class=" btn btn-group-sm btn-info" type="button">Submit </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark ">
                    <div class="form-row text-right mt-2">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    </body>
</html>
 *@
 <h1>Error pages From Employee</h1>
