<section class="contain">
    <div class="container">
        <div class="row">
            <div class="col-md-10 bg-transparent-red">
               BElo
            </div>
        </div>
    </div>
</section>