
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contain">
    <div class="container">
        <h1>MAKE A NOTES</h1>
        <br />
        <div class="row">
            <div class="col-md-10">
               <form >
                   <input type="text" size="140" />
               </form>
               <hr />
                <button class="btn btn-group-sm bg-primary"> SAVE </button>
            </div>
        </div>
    </div>
</section>



<div class="row">
    <div class="col-md-10">
       
    </div>
</div>