@model MVC_TUTORIAL_5_12_23.Models.Book

@{
    ViewData["Title"] = "AddNewBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>AddNewBook</h1> 

 <h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auth" class="control-label"></label>
                <input asp-for="Auth" class="form-control" />
                <span asp-validation-for="Auth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-controller="Book" asp-action="Getallbooks" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Book" asp-action="Getallbooks">Back to List</a>
</div> *@

<html>
<head>
    <style></style>
</head>
<body>
    <form asp-action="AddNewBook" class="text-white">
        <section class="content">
            <div class="container  pr-5 pl-5 pt-3 pb-3">
                <div class="card card-primary border-info p-1  shadow shadow-lg">
                    <div class="card-header bg-info text-white">
                        <h6 class="col-md-11 mt-2"> ADD NEW BOOK </h6>
                        @* <button class="btn btn-sm btn-outline-danger " type="button" value="Exit" style="margin-left:20px;">X</button> *@
                    </div>
                    <div class="card-body bg-secondary">
                        <div class="row" >
                            <div class="col-md-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @*  <div class="form-group">
                                <label asp-for="ID" class="control-label"></label>
                                <input asp-for="ID" class="form-control" />
                                <span asp-validation-for="ID" class="text-danger"></span>
                                </div> *@
                                <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label> <br />
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label><br />
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                
                               
                                @* <div class="form-group">
                                      <input type="submit" value="Create" class="btn btn-primary" /> 
                                </div> *@
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Auth" class="control-label"></label><br />
                                    <input asp-for="Auth" class="form-control" />
                                    <span asp-validation-for="Auth" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label><br />
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark ">
                        <div class="form-row text-right mt-2">
                       
                            <div class="col-md-12">
                                <div class="form-group" style="float:right;">
                                    <input type="submit" value="Create" class="btn btn-outline-success" onclick="alertbtn"/>
                                   @*  <input type="submit" value="Create" class="btn btn-primary btn-sm" asp-controller="Book" asp-action="Getallbooks" /> *@
                                    <a href="~/Book/Getallbooks" class="btn btn-outline-danger text-white">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
</html>


